    :root{
        --negro-profundo: #0A0A0A;
        --rosa-neon: #FF2EC4;
        --rosa-brillante: #FF4DFF;
        --violeta-neon: #9D4EFF;
        --blanco: #ffff;

    }



    
    *{
        font-family: "Pixelify Sans", sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }


    header{
        background-color: var(--negro-profundo);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }

    header .logo img{
        max-width: 10rem;
    }

    header .botonera{
        display: flex;
        gap: 5rem;
        
    }

    header .botonera a{
        color: var(--rosa-neon);
        text-decoration: none;
        font-weight: bold;
        padding: 1.5rem 1rem;
        border-radius: 0.5rem;
    }

    header .botonera a:hover{
        background-color: var(--rosa-brillante);
        color: var(--blanco) ;
        
    }

    main .bienvenida{
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(/img/fondo.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: var(--rosa-brillante);
        font-size: clamp(1rem, 3vw, 2rem);
        text-align: center;
    }

    main .bienvenida h1{
        font-weight: bold;
    }

     main .bienvenida h2{
        font-weight: 400;
    }

    main .bienvenida img{
        width: 10%;
    }


    main .catalogo{
        background-color: rgb(199, 196, 196);
        min-height: 15rem;
        display: flex;
        flex-direction: column;
    }

    main .tituloCatalogo{
        margin-top: 0.5rem;
        background-color: red;
    }
    main .imagenesCatalogo{
        margin-top: 0.5rem;
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;
    }

    main .imagenesCatalogo img{
        width: 30%;
        
    }

    footer {
        background-color: pink;
        padding: 2rem;
        display: flex;
        justify-content: flex-end;
        gap: 5rem;
    }