    :root{
        --negro-profundo: #0A0A0A;
        --rosa-neon: #FF2EC4;
        --rosa-oscuro: #de06a1;
        --rosa-brillante: #FF4DFF;
        --violeta-neon: #9D4EFF;
        --blanco: #ffff;
        --azul: #250956;

    }



    
    *{
        font-family: "Pixelify Sans", sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }


    header{
        background-color: var(--negro-profundo);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }

    header .logo img{
        max-width: 10rem;
    }

    header .botonera{
        display: flex;
        gap: 5rem;
        
    }

    header .botonera a{
        color: var(--rosa-neon);
        text-decoration: none;
        font-weight: bold;
        padding: 1.5rem 1rem;
        border-radius: 0.5rem;
    }

    header .botonera a:hover{
        background-color: var(--rosa-brillante);
        color: var(--blanco) ;
        
    }

    main .bienvenida{
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(/img/fondo.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: var(--rosa-brillante);
        font-size: clamp(1rem, 3vw, 2rem);
        text-align: center;
    }

    main .bienvenida h1{
        font-weight: bold;
    }

     main .bienvenida h2{
        font-weight: 400;
    }

    main .bienvenida img{
        width: 10%;
    }


    main .catalogo{
        background-color: var(--negro-profundo);
        min-height: 15rem;
        display: flex;
        flex-direction: column;
    }

    main .catalogo .juegos, .software{
        margin: 2rem 0;
    }

    main .tituloCatalogo{
        margin-bottom: 3rem;
        background-color: var(--negro-profundo);
        text-align: center;
        color: var(--rosa-neon);
    }
    main .imagenesCatalogo{
        margin-top: 0.5rem;
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;
    }

    main .imagenesCatalogo .tarjeta{
        background-color: var(--azul);
        padding: 1rem;
        width: 15rem;
        height: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        border-radius: 0.5rem;
    }

    main .imagenesCatalogo .tarjeta img{
        width: 100%;
        height: 60%;
        border: 0.2rem solid var(--negro-profundo);
        border-radius: 1rem;
    }

    main .imagenesCatalogo .tarjeta p{
        color: var(--rosa-neon);
        font-weight: bold;
        text-align: center;
    }

    main .imagenesCatalogo .tarjeta .botones{
        display: flex;
        justify-content: space-evenly;
    }

     main .imagenesCatalogo .tarjeta .botones ul{
        background-color: var(--negro-profundo);
        padding: 0.5rem;
        color: var(--rosa-neon);
        font-weight: bold;
        border-radius: 0.5rem;
     }

     main .imagenesCatalogo .tarjeta .botones ul:hover{
        background-color: var(--violeta-neon);
        color:var(--rosa-oscuro);
     }

    footer {
        background-color: pink;
        padding: 2rem;
        display: flex;
        justify-content: flex-end;
        gap: 5rem;
    }